# Minneapolis Institute of Art (MIA) data exploration

 The Minneapolis Institute of Art have published the data of their collection (both on and off exhibit) publicly in GitHub. I will be examining the data below and creating a data pipeline to upsert future information into my final table. My final table will be used to visualize the data and answer some questions that I will be coming up with below.

In [1]:
import pandas as pd
import json
import glob
import re
import datetime
from datetime import date
import numpy as np

In [2]:
path1 = "collection-main\\departments\\1.json"
path2 = "collection-main\\departments\\2.json"
dept1 = pd.read_json(path1)
dept2 = pd.read_json(path2)

In [3]:
print(dept2.describe())
print(dept2.info())

            id       artworks
count  41524.0   41524.000000
mean       2.0   73288.526154
std        0.0   33144.521075
min        2.0       0.000000
25%        2.0   51615.750000
50%        2.0   69288.500000
75%        2.0   83592.250000
max        2.0  142432.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41524 entries, 0 to 41523
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      41524 non-null  object
 1   id        41524 non-null  int64
 2   artworks  41524 non-null  int64
dtypes: int64(2), object(1)
memory usage: 973.3+ KB
None

In [4]:
print(dept1.head())
print(dept2.head())

                                     name  id  artworks
0  Chinese, South and Southeast Asian Art   1        66
1  Chinese, South and Southeast Asian Art   1        67
2  Chinese, South and Southeast Asian Art   1        68
3  Chinese, South and Southeast Asian Art   1        69
4  Chinese, South and Southeast Asian Art   1        70
                  name  id  artworks
0  Prints and Drawings   2         0
1  Prints and Drawings   2         1
2  Prints and Drawings   2         2
3  Prints and Drawings   2         3
4  Prints and Drawings   2         4

So each department is assigned a number, that's the id in this table, and the name is the name of the department. The only changing item in this table is the artworks column. I think those are art ids and I'm thinking there are probably no duplicates? At least so far

In [5]:
path_to_exhibitions = "collection-main\\exhibitions\\0\\10.json"
df_list = []
with open(path_to_exhibitions, 'r') as f:
    exhibit = json.load(f)  # probably going to need a try except here to make sure that the file is not empty. Some of them are.
    for art in exhibit['objects']:
        one_line = {'exhibition_id': exhibit['exhibition_id'], 'art_id': art, 'display_date': exhibit['display_date']}
        print(one_line)
        df_list.append(one_line)

df_test = pd.DataFrame(df_list)
print(df_test.head())

{'exhibition_id': 10, 'art_id': 292, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 3868, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 4036, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 4515, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 5130, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 8317, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 8363, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 12785, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 29034, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 40607, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 40981, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
{'exhibition_id': 10, 'art_id': 40982, 'display_date': 'Tuesday, September 19, 2000 - Friday, October 26, 2001'}
   exhibition_id  art_id                                       display_date
0             10     292  Tuesday, September 19, 2000 - Friday, October ...
1             10    3868  Tuesday, September 19, 2000 - Friday, October ...
2             10    4036  Tuesday, September 19, 2000 - Friday, October ...
3             10    4515  Tuesday, September 19, 2000 - Friday, October ...
4             10    5130  Tuesday, September 19, 2000 - Friday, October ...

^^I want exhibition_id, display_date, and the objects list. 
Alright, the above is proof of concept for me to go through a ton of files and grab the 3 things I want. Then I want to transform the display date into a number of days(?) that it was on display. So then later I can add up how long each piece has been on display and see who was displayed the longest (and maybe also which piece has been in the most distinct exhibitions).

In [6]:
object_path = "collection-main\\objects\\0\\0.json"
object0 = pd.read_json(object_path)
print(object0.info())
print(object0.describe())
print(object0.department.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accession_number     4 non-null      float64
 1   art_champions_text   0 non-null      float64
 2   artist               4 non-null      object
 3   catalogue_raissonne  0 non-null      float64
 4   classification       4 non-null      object
 5   continent            4 non-null      object
 6   country              4 non-null      object
 7   creditline           4 non-null      object
 8   culture              0 non-null      float64
 9   curator_approved     4 non-null      int64
 10  dated                4 non-null      object
 11  department           4 non-null      object
 12  description          4 non-null      object
 13  dimension            4 non-null      object
 14  id                   4 non-null      object
 15  image                4 non-null      object
 16  image_copyright      4 non-null      object
 17  image_height         4 non-null      int64
 18  image_width          4 non-null      int64
 19  inscription          4 non-null      object
 20  life_date            4 non-null      object
 21  markings             4 non-null      object
 22  medium               4 non-null      object
 23  nationality          4 non-null      object
 24  object_name          4 non-null      object
 25  portfolio            4 non-null      object
 26  provenance           4 non-null      object
 27  restricted           4 non-null      int64
 28  rights_type          4 non-null      object
 29  role                 4 non-null      object
 30  room                 4 non-null      object
 31  see_also             4 non-null      int64
 32  signed               4 non-null      object
 33  style                4 non-null      object
 34  text                 4 non-null      object
 35  title                4 non-null      object
dtypes: float64(4), int64(5), object(27)
memory usage: 1.3+ KB
None
       accession_number  art_champions_text  catalogue_raissonne  culture  \
count               4.0                 0.0                  0.0      0.0
mean               10.1                 NaN                  NaN      NaN
std                 0.0                 NaN                  NaN      NaN
min                10.1                 NaN                  NaN      NaN
25%                10.1                 NaN                  NaN      NaN
50%                10.1                 NaN                  NaN      NaN
75%                10.1                 NaN                  NaN      NaN
max                10.1                 NaN                  NaN      NaN

       curator_approved  image_height  image_width  restricted  see_also
count               4.0           4.0          4.0         4.0  4.000000
mean                0.0        9807.0       4168.0         0.0  1.500000
std                 0.0           0.0          0.0         0.0  1.290994
min                 0.0        9807.0       4168.0         0.0  0.000000
25%                 0.0        9807.0       4168.0         0.0  0.750000
50%                 0.0        9807.0       4168.0         0.0  1.500000
75%                 0.0        9807.0       4168.0         0.0  2.250000
max                 0.0        9807.0       4168.0         0.0  3.000000
0    European Art
1    European Art
2    European Art
3    European Art
Name: department, dtype: object

^^see_also is referring to other artworks that are related to this artwork. In this case it is a set of four pieces that go together. Some objects have this empty. I think each object json contains just one piece even though the read_json makes it seem like more.

It seems to me that the file names of the object folder is the object id. I don't love that personally, but it is what we have to work with. So the artwork id in the department files connects to the names of the object files.
And the exhibition files include the artwork ids that are a part of the exhibition.
So artwork ids are basically what we'll be working around for the most part.

So what might the data structure of our relationial database look like? What are the relationships?

- One to Many relationship between Department and Object (dept_id and art_id)
- Many to Many relationship between Object and Exhibition (art_id and exhibit_id)

I want a department table, object table, and exhibit table.
department table will have a primary key of dept_id
object table will have a primary key of art_id
exhibit table will have primary key of exhibit_id. and then have a cross-reference table between object and exhibit that contains art_ids and exhibit_id pairs.
Four (4) total tables

## Beginning Construction of tables
### Department Table
The department table will contain the department id and the department name

In [7]:
dept_df = []
for file in glob.glob("collection-main\\departments\\*.json"):
    dept_df.append(pd.read_json(file))
print(len(dept_df))

10

In [10]:
print(departments.head())

                                     name  id  artworks
0  Chinese, South and Southeast Asian Art   1        66
1  Chinese, South and Southeast Asian Art   1        67
2  Chinese, South and Southeast Asian Art   1        68
3  Chinese, South and Southeast Asian Art   1        69
4  Chinese, South and Southeast Asian Art   1        70

In [9]:
departments = pd.concat(dept_df)
print(departments.artworks.nunique())
department_condensed = departments.groupby(['name', 'id']).artworks.count().reset_index()
department_condensed.rename(columns={'artworks': 'num_artworks'}, inplace=True)
print(len(departments))
print(len(department_condensed))
print(department_condensed)
duplicates = departments.drop_duplicates()
print(len(duplicates))

97024
104475
10
                                      name  id  num_artworks
0           Art of Africa and the Americas   8          5880
1   Chinese, South and Southeast Asian Art   1          8989
2                         Contemporary Art  14           655
3  Decorative Arts, Textiles and Sculpture   4         15328
4                  Japanese and Korean Art  13          9629
5     Minnesota Artists Exhibition Program  10           126
6                                Paintings   6          1875
7                Photography and New Media   7         13001
8                      Prints and Drawings   2         41524
9                                 Textiles   5          7468
104475

In [11]:
duplicates = departments[departments.duplicated(subset=['artworks'], keep=False)]
print(len(duplicates))
print(duplicates.name.unique())
print(duplicates.head())

14902
['Decorative Arts, Textiles and Sculpture' 'Textiles']
                                       name  id  artworks
0   Decorative Arts, Textiles and Sculpture   4        49
4   Decorative Arts, Textiles and Sculpture   4        55
6   Decorative Arts, Textiles and Sculpture   4        64
7   Decorative Arts, Textiles and Sculpture   4        65
10  Decorative Arts, Textiles and Sculpture   4       109

In [13]:
subset = departments.drop_duplicates(subset=['artworks'])
print(len(subset))

97024

In [14]:
departments.to_csv('C:\\Users\\henge\\PycharmProjects\\MIA\\final_tables\\departments.csv')

### Artwork Table
Need a lot of columns in this one to cover all the field that are present in the original json files
And how exactly to handle the see_also field? If we pd.read_json, we will have multiples, and if we drop duplicates then we will lose the see_also items. How important is the see_also to this project? They're already grouped via the artist name..

I'm gonna go ahead and drop the see_also column completely, and then also drop duplicates from this process by using the subset accession_number.
This is also going to end up be a gigantic table at the end since there are SO MANY artworks.

In [17]:
#I'm going to start with folder 0 of the artwork (I know there is so much more, but I can run all that through my 
#python script for it later. It'll be a good test of my datapipeline, I think)
artwork_df = []
for file in glob.glob("collection-main\\objects\\0\\*.json"):
    artwork_df.append(pd.read_json(file))
print(len(artwork_df))

906

In [18]:
artworks = pd.concat(artwork_df).drop_duplicates(subset=['accession_number'])
print(artworks.info())
print(artworks.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 0
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accession_number     900 non-null    object
 1   art_champions_text   0 non-null      float64
 2   artist               900 non-null    object
 3   catalogue_raissonne  10 non-null     object
 4   classification       900 non-null    object
 5   continent            889 non-null    object
 6   country              888 non-null    object
 7   creditline           900 non-null    object
 8   culture              153 non-null    object
 9   curator_approved     900 non-null    int64
 10  dated                900 non-null    object
 11  department           900 non-null    object
 12  description          900 non-null    object
 13  dimension            883 non-null    object
 14  id                   900 non-null    object
 15  image                900 non-null    object
 16  image_copyright      900 non-null    object
 17  image_height         900 non-null    object
 18  image_width          900 non-null    object
 19  inscription          900 non-null    object
 20  life_date            238 non-null    object
 21  markings             900 non-null    object
 22  medium               900 non-null    object
 23  nationality          229 non-null    object
 24  object_name          835 non-null    object
 25  portfolio            811 non-null    object
 26  provenance           900 non-null    object
 27  restricted           900 non-null    int64
 28  rights_type          900 non-null    object
 29  role                 900 non-null    object
 30  room                 900 non-null    object
 31  see_also             900 non-null    object
 32  signed               900 non-null    object
 33  style                898 non-null    object
 34  text                 900 non-null    object
 35  title                900 non-null    object
dtypes: float64(1), int64(2), object(33)
memory usage: 260.2+ KB
None
       art_champions_text  curator_approved  restricted
count                 0.0        900.000000  900.000000
mean                  NaN          0.043333    0.016667
std                   NaN          0.203720    0.128090
min                   NaN          0.000000    0.000000
25%                   NaN          0.000000    0.000000
50%                   NaN          0.000000    0.000000
75%                   NaN          0.000000    0.000000
max                   NaN          1.000000    1.000000

I want info on the following columns: id, accession_number, artist, classification/object type, continent, country, creditline, dated (need to transform), department/dept_id, dimension (need to transform), medium (?), room (need to transform - make another column with on display= 1 or 0), style

In [19]:
artwork_slim = artworks.drop(columns=['art_champions_text', 'catalogue_raissonne', 'culture', 'description', 'image', 'image_copyright', 'image_height', 'image_width', 'inscription', 'life_date', 'markings', 'nationality', 'portfolio', 'provenance', 'restricted', 'rights_type', 'role', 'see_also', 'signed', 'text', 'title', 'object_name'])
print(artwork_slim.info())

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 0
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  900 non-null    object
 1   artist            900 non-null    object
 2   classification    900 non-null    object
 3   continent         889 non-null    object
 4   country           888 non-null    object
 5   creditline        900 non-null    object
 6   curator_approved  900 non-null    int64
 7   dated             900 non-null    object
 8   department        900 non-null    object
 9   dimension         883 non-null    object
 10  id                900 non-null    object
 11  medium            900 non-null    object
 12  room              900 non-null    object
 13  style             898 non-null    object
dtypes: int64(1), object(13)
memory usage: 105.5+ KB
None

In [20]:
# want to change the id now into a number instead of an object, need to trim a lot off.
# Also want to change the dated, dimension, and room to make them more usable to me.

In [21]:
artwork_slim['id'] = artwork_slim.id.apply(lambda x: x[(x.rindex('/')+1):])

In [22]:
# Add column to easily see if artwork is currently on display or not (0=not displayed, 1=displayed)
artwork_slim['display'] = artwork_slim.room.apply(lambda x: 0 if x=='Not on View' else 1)

For Below: I want to drop the entries where the dimensions are Nan. These entries will be stored in another table for review by the museum staff.

In [23]:
no_dimensions = artwork_slim[artwork_slim['dimension'].isnull()]
print(no_dimensions.info())
print(no_dimensions.head())

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 0 to 0
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  17 non-null     object
 1   artist            17 non-null     object
 2   classification    17 non-null     object
 3   continent         13 non-null     object
 4   country           13 non-null     object
 5   creditline        17 non-null     object
 6   curator_approved  17 non-null     int64
 7   dated             17 non-null     object
 8   department        17 non-null     object
 9   dimension         0 non-null      object
 10  id                17 non-null     object
 11  medium            17 non-null     object
 12  room              17 non-null     object
 13  style             17 non-null     object
 14  display           17 non-null     int64
dtypes: int64(2), object(13)
memory usage: 2.1+ KB
None
  accession_number                                             artist  \
0        30.50.172
0        31.50.249
0        31.50.256
0           31.7.2
0        31.9.6a,b  Maker: Worcester Porcelain Works (a.k.a. Royal...

  classification continent  country  \
0      Metalwork       NaN      NaN
0      Adornment    Africa    Egypt
0      Adornment    Africa    Egypt
0       Textiles    Europe   Greece
0       Ceramics    Europe  England

                                          creditline  curator_approved  \
0                         Bequest of Miss Lily Place                 0
0                         Bequest of Miss Lily Place                 0
0                         Bequest of Miss Lily Place                 0
0                         Gift of Mrs. John Washburn                 0
0  Gift of James F. and Louise H. Bell in memory ...                 0

               dated                              department dimension   id  \
0  late 19th century  Chinese, South and Southeast Asian Art       NaN  386
0   c. 2000-1786 BCE          Art of Africa and the Americas       NaN  457
0      1991-1786 BCE          Art of Africa and the Americas       NaN  459
0       19th century                            European Art       NaN  477
0            c. 1770                            European Art       NaN  483

                           medium         room                  style  display
0                 Silver and hair  Not on View           19th century        0
0        Gold and carnelian beads  Not on View  21st-18th century BCE        0
0              Gold and carnelian  Not on View  20th-18th century BCE        0
0  Linen, silk thread; needlework  Not on View           19th century        0
0                       Porcelain  Not on View           18th century        0

In [24]:
# dimensions is more complicated than I originally thought. I'd like to blow it out into height, width, depth. There
# are just a lot of formats that we need to work with.
artwork_slim.dropna(subset='dimension', inplace=True)  # remove the entries with nan in the dimension column 
print(artwork_slim.info())
# if the dimension does not contain any numbers, we need to change it to 0 in. as well.
# no inches in dimension and we will add 'in' to the end
artwork_slim['dimension'] = artwork_slim.dimension.apply(lambda x: '0 in' if not re.search('[0-9]', x) else (x + 'in' if not re.search('in', x) else x))

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 0 to 0
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  883 non-null    object
 1   artist            883 non-null    object
 2   classification    883 non-null    object
 3   continent         876 non-null    object
 4   country           875 non-null    object
 5   creditline        883 non-null    object
 6   curator_approved  883 non-null    int64
 7   dated             883 non-null    object
 8   department        883 non-null    object
 9   dimension         883 non-null    object
 10  id                883 non-null    object
 11  medium            883 non-null    object
 12  room              883 non-null    object
 13  style             881 non-null    object
 14  display           883 non-null    int64
dtypes: int64(2), object(13)
memory usage: 110.4+ KB
None

In [25]:
# expand dimensions into 3 columns
# trim dimensions to only include up to the inches
artwork_slim['dimension'] = artwork_slim.dimension.apply(lambda x: x[:x.index('in')])
artwork_slim['dimension'] = artwork_slim.dimension.apply(lambda z: z.replace('×', 'x'))
expanded_dimensions = pd.DataFrame()
expanded_dimensions = artwork_slim['dimension'].str.split('x', expand=True)

In [26]:
expanded_dimensions.rename({0: 'height', 1: 'width', 2: 'depth'}, axis='columns', inplace=True)
print(expanded_dimensions.head())

    height     width depth     3
0  68-5/8    25-1/8   None  None
0  70 5/8    24 7/8   None  None
0      27    37 1/2     6   None
0   3 3/8    1 5/16   None  None
0   5 1/4         1   None  None

In [27]:
expanded_dimensions.replace({None: '0'}, inplace=True)
# change dimension strings into numbers now. Again dealing with multiple possible formats
def make_inches_num(in_string):
    just_nums = re.sub(r'[^0-9\-/\s]*', '', in_string)
    string_parts = just_nums.strip().replace('-', ' ').split(' ')
    decimal = 0.0
    if len(string_parts) > 3:
        # add message here about wrong format (warning)
        return float('Nan')  # this will be my flag to grab entries that I think have messed up size information.
    else:
        for part in string_parts:
            if re.search(r'[^0-9/]', part) or part == '':
                # add message here about measurement being in wrong format (warning)
                return float('Nan')
            elif re.search('/', part):
                numerator, denominator = part.split('/')
                addition = float(numerator) / int(denominator)
            else:
                addition = float(part)
            decimal += addition
        print(decimal)
    return decimal

#print(expanded_dimensions.head(60))
expanded_dimensions['height'] = expanded_dimensions.height.apply(make_inches_num)
expanded_dimensions['width'] = expanded_dimensions.width.apply(make_inches_num)
expanded_dimensions['depth'] = expanded_dimensions.depth.apply(make_inches_num)

68.625
70.625
27.0
3.375
5.25
4.75
1.875
3.625
3.625
9.625
3.625
134.75
3.5
33.0
5.5
9.25
11.75
4.0
9.25
8.0
11.375
7.125
11.5
10.0
29.0
3.375
35.0
76.0
32.0
21.25
32.0
63.0
12.1875
14.125
4.0
10.125
7.125
7.125
7.0
6.875
7.5
6.875
7.5625
9.25
7.5
4.0
9.375
41.75
34.0
1.25
16.3125
33.375
0.9375
10.875
3.25
65.6875
4.125
7.5
37.125
73.25
17.5
2.0625
1.125
23.5
84.8125
22.5
8.5
3.25
189.5625
2.0
12.5
15.3125
41.3125
8.5
2.25
30.8125
78.875
69.0
61.0
13.0625
3.5625
3.75
64.3125
64.0625
6.625
4.5
40.5
10.5
5.5
11.625
18.0
107.875
26.125
25.5
217.0
70.625
6.25
72.0625
3.5625
14.5
11.375
8.5625
20.625
4.0
5.1875
6.25
2.75
4.875
4.625
4.5
7.75
14.25
5.3125
13.5625
9.5625
2.0625
15.375
3.625
5.25
18.0
12.0
12.0
14.5
27.0
8.1875
8.375
4.5
62.0
39.0
20.0
1.0
7.75
5.5
5.5
12.25
6.75
5.625
3.75
5.625
6.375
73.75
8.5
38.25
7.0
32.75
19.0
4.125
30.0
22.5
88.75
36.5
22.75
46.5
30.0
45.0
39.125
19.25
37.375
34.75
31.5
31.5
12.375
21.5
41.125
4.5
2.25
3.5
6.0
1.0625
96.0
46.0
30.0
7.5
4.5625
19.5
42.0
9.0625
10.375
76.5
34.5
28.25
4.5
4.0
6.5
29.0
0.625
44.5
75.75
68.5
6.0
25.5
2.5
30.0
25.75
1.375
4.75
1.25
3.125
2.75
2.5
1.5
1.375
13.75
4.25
33.25
53.0
11.25
3.0
36.125
3.125
6.125
38.0
4.0
45.25
10.25
12.5
12.5
9.5
21.0
11.875
12.25
11.75
4.0
11.75
19.75
2.5
10.5
36.25
5.5
3.75
4.875
10.5
3.75
12.75
61.25
10.5
10.25
3.25
19.0
6.125
6.25
6.1875
11.25
6.5
6.75
12.75
10.5
5.5
1.0
1.0
4.25
5.5
7.5
5.75
8.0
3.5
3.0
2.75
28.0
40.5
9.5
48.125
5.25
186.5
42.0
88.5
93.0
84.0
20.0
82.5
4.0
6.5
12.5
50.0
50.0
12.5
3.0
50.5
24.75
24.0
10.625
8.75
5.0
7.625
31.25
39.25
42.5
36.5
34.5
34.5
37.0
39.0
48.0
6.5
34.5
40.75
28.5
29.0
28.0
28.5
30.25
27.75
28.625
21.75
6.6875
60.0
50.0
38.0
82.0
16.5
31.0
28.5
86.0
17.0
85.0
37.0
61.0
14.125
56.5
27.0
23.0
4.0
24.5
35.5
30.25
31.0
31.0
4.5
7.25
30.25
34.5
29.0
37.0
33.75
25.25
113.0
129.0
29.0
21.75
3.0
2.0
1.75
3.625
7.1875
3.0
2.75
2.0
2.5
2.5
1.875
0.8125
0.625
0.4375
3.0
1.75
1.875
2.75
37.5
32.0
46.0
11.0
84.0
18.0
58.0
11.5
12.0
31.5
10.0
94.0
9.75
50.5
13.75
71.75
4.875
12.875
6.875
9.75
8.0
7.0
5.0
2.25
2.25
2.125
13.5
3.1875
4.0
30.0
6.75
0.875
8.25
4.25
68.25
3.75
7.625
10.0
11.75
4.25
25.75
15.0
159.5
159.5
67.625
156.5
158.0
28.75
2.75
3.0
25.5
5.0
9.25
10.25
43.375
51.5
138.875
11.0
3.375
5.25
15.5
48.375
68.0
31.25
35.0
6.375
29.0
28.75
19.25
50.0
39.25
7.0
4.25
136.25
4.0
15.25
168.0
1.0
12.25
37.375
2.75
25.875
28.5
24.0
29.625
53.5
115.5
14.625
2.25
27.25
145.0
47.0
30.0
20.0
39.0
4.25
26.0
26.0
13.0625
36.0
23.25
30.625
26.5
29.5
26.625
7.75
3.5
39.375
49.5
33.0
3.0
66.25
10.0
51.0
123.5
28.75
101.5
1.875
8.0
2.5
9.0
6.0
16.375
23.75
56.875
90.0
16.125
15625.0
146.75
6.375
5.625
3.125
45.0
1.0
1.625
1.25
4.375
4.75
19.125
10.1875
1.375
2.875
2.75
16.25
50.0
1.0
1.0
0.875
1.25
8.1875
1.3125
3.125
11.625
1.625
4.375
135.0
2.125
2.375
1.5
3.5
3.875
3.75
27.0
36.0
72.75
40.75
207.5
45.0
7.5
5.5
7.0
21.125
38.125
28.25
83.75
47.25
53.5
9.75
58.625
144.0
188.5
7.25
350.0
7.75
2.25
31.75
33.5
14.25
83.5
3.375
5.5
2.75
9.5
12.75
9.5
5.375
10.375
44.0
47.0
7.5
27.5
22.0
32.5
16.75
27.0
17.25
30.0
8.8125
30.0
10.625
7.0
8.0
8.25
7.875
5.375
9.5
17.5
5.0
7.0
10.375
13.5
6.5
7.0
7.75
1.0
1.125
1.75
1.75
3.625
2.75
7.5
7.875
1.75
1.25
9.0
24.5
6.5
143.0
31.5
15.75
24.3125
84.0
65.0
26.0
17.625
20.75
50.5
22.5
1.5
41.5
26.5
63.0
74.0
67.0
40.0
39.0
39.0
7.0
14.5
25.25
31.125
6.875
9.5
0.875
0.875
0.875
5.9375
17.0
6.875
14.5
21.0
28.0
13.0
18.0
7.75
5.0
7.5
29.5
5.75
11.0
2.5
64.25
11.5
28.5
20.0
5.5
47.5
20.0
39.125
32.375
29.75
159.0
161.375
159.0
166.0
184.5
28.5
162.625
163.0
158.5
165.0
186.75
38.75
37.5
39.0
38.0
1.9375
20.5
21.5
25.0
37.5
41.375
62.0
1.125
12.875
31.3125
4.0
2.4375
28.75
38.5
28.0
16.25
12.0
26.0
68.0
2.875
3.375
11.5625
6.375
13.125
8.875
7.0
7.6875
11.5
13.75
1.5625
23.0
4.875
9.6875
5.5
11.25
8.6875
12.25
1.875
7.0
1.4375
6.25
8.4375
9.8125
7.0
9.25
8.9375
9.125
40.0
4.9375
35.25
3.375
7.0
5.375
4.4375
5.75
8.5
6.625
3.25
0.0
10.75
7.875
10.5
3.25
5.75
13.375
1.25
5.375
8.0
1.0
6.75
9.0
8.0625
3.625
6.5
9.75
7.875
8.0
7.125
4.375
1.0625
9.9375
7.5625
4.25
10.5
10.5
15.25
10.25
18.875
6.5
8.5
5.125
5.625
6.0
9.625
7.25
4.625
4.25
5.0
10.5
5.375
12.0
3.6875
3.1875
3.625
3.0
1.25
1.0
7.0
1.375
6.875
2.125
3.0
3.0
3.625
1.4375
2.25
2.5
1.75
1.25
1.25
2.25
2.5
5.5
1.125
4.875
1.625
4.0
0.75
2.5
0.75
2.375
1.0
2.125
3.5
2.0
3.75
3.875
0.875
1.125
1.0
1.0
2.375
3.625
3.5625
1.9375
0.8125
7.0
1.0
6.3125
4.375
2.9375
1.25
2.25
2.75
6.5625
7.0
12.0625
5.25
0.125
3.25
0.9375
3.5
5.5
3.875
5.0
4.125
3.25
67.0
6.1875
9.1875
4.5
2.5
5.3125
5.0
3.625
3.5625
5.875
2.125
1.875
2.625
5.8125
2.625
1.5
3.1875
3.625
0.125
4.0
4.0
67.0
8.625
0.1875
14.3125
2.125
6.5625
6.875
5.375
2.75
5.875
6.5625
2.875
17.0
17.0625
12.125
9.25
14.0
16.125
5.375
9.3125
9.25
7.5
12.5
14.4375
2.0
7.5
2.375
0.375
1.0
3.5
1.25
1.375
25.125
24.875
37.5
1.3125
1.0
4.875
0.5
0.8125
0.9375
39.1875
1.375
128.0
7.375
70.0
0.0
0.0
0.0
6.875
0.0
0.0
0.0
0.0
6.25
0.0
36.0
7.5
19.25
0.0
116.25
14.625
39.0
23.5
7.875
19.3125
7.0
6.6875
10.75
10.6875
10.75
10.25
9.375
9.3125
9.6875
11.5
9.5
7.0
7.5
15.875
22.0
5.9375
15.5
20.4375
7.25
6.625
9.75
14.8125
7.5
4.5
18.875
37.375
6.875
6.0625
5.0625
6.875
51.0
14.875
8.375
7.5
45.375
13.0
1.8125
4.375
20.5625
72.6875
6.9375
62.0
78.875
23.625
12.0
21.5625
6.0625
3.875
7.9375
4.0625
3.875
7.5
16.75
9.0
15.0
0.375
13.0
48.75
12.75
17.5
157.0
24.875
3.25
10.3125
7.625
7.4375
10.875
7.6875
8.8125
8.1875
5.9375
9.375
5.125
14.875
7.0
4.6875
6.75
10.0
13.1875
7.3125
6.5625
1.75
10.625
7.0
16.0
6.0
16.0
17.75
12.25
27.0
5.875
6.0
6.5
3.25
10.5
8.0
14.25
27.0
7.75
7.5
3.25
0.0
2.75
6.5
2.5
2.75
7.25
12.0
7.25
25.5
10.25
14.5
6.625
72.0
15.625
55.5
26.75
12.0
48.5
37.0
23.125
19.5
19.375
24.5
25.5
81.5
16.5
9.0625
74.5
25.0
7.5
12.0
7.0
9.5
9.0
67.0
59.0
17.5
11.5
0.0
15.5
54.0
10.0
13.75
37.25
6.0
23.0
3.0
3.875
4.625
48.0
1.875
0.0
60.0
24.75
4.5
19.75
6.125
25.0
24.0
9.25
6.375
9.75
6.625
2.75
2.625
8.25
8.375
22.5
6.5
25.875
0.0
4.0
1.125
47.0
0.875
25.0
72.0
5.0
19.0
3.125
2.0
1.75
3.375
6.875
1.25
1.0
1.5
6.125
1.375
2.625
19.0
4.75
4.0
0.875
2.875
1.625
3.0
7.0
0.0
0.0
0.0
0.0
4.25
27.0
2.0625
2.25
1.6875
2.25
2.25
2.25
18.0
0.0
2.125
15.0
15.0
1.25
5.25
4.9375
1.5
2.125
0.0
2.5
13.5
0.0
23.0
5.25
34.0
4.125
39.5
44.0
4.5
67.0
81.0
20.0
82.0
21.625
4.0
0.0
40.0
40.0
6.75
1.75
0.0
0.0
0.0
8.75
7.0
13.25
4.375
30.0
21.0
17.0
20.5
20.5
19.75
21.0
21.0
21.5
3.0
20.0
34.0
34.5
23.0
32.0
104.0
21.5
36.0
34.0
24.0
3.375
32.5
23.0
16.25
40.0
0.0
34.0
67.5
44.0
17.0
19.5
11.0
0.0
9.125
42.0
22.0
8.0
3.125
0.0
10.0
30.25
0.0
0.0
0.0
0.0
25.125
27.25
24.25
33.0
13.625
30.5
158.5
173.0
44.0
22.5
3.0625
1.875
2.375
13.0
5.125
7.75
7.0
5.0
4.25
7.5
4.25
3.125
2.75
3.625
5.75
0.0
1.375
7.75
32.5
26.0
55.0
0.0
39.0
30.25
40.0
0.0
0.0
46.5
9.5
60.0
6.5
13.0
16.5
35.625
3.75
10.75
5.0
9.0
6.0
0.0
2.5
7.9375
8.0
8.0
19.25
7.75
7.375
25.0
0.5
2.5
0.75
10.0
33.25
5.25
10.75
4.0
7.0
9.25
21.0
19.5
125.0
150.75
25.25
134.5
151.5
23.0
5.75
9.0
7.5
0.0
7.75
9.0
36.3125
38.5
157.75
11.0
2.4375
4.875
11.5
39.375
72.0
18.125
13.0
2.75
71.5
67.5
26.0
40.0
31.25
5.25
8.75
205.25
3.0
20.125
258.0
9.625
8.125
65.0
2.25
0.0
34.0
40.0
42.625
40.125
194.25
8.5
12.625
14.75
76.0
33.75
25.0
25.0
56.5
16.0
31.5
31.5
9.375
28.75
24.25
52.5
33.0
28.25
34.75
0.5
6.0
52.75
40.0
3.625
6.5
3.5
14.0
39.5
57.5
36.0
19.0
6.625
8.25
7.0
6.75
3.5
13.625
31.5
0.0
41.0
23.0625
156.0
127.25
5.0
4.25
6.0
525.0
6.0
4.875
6.625
4.25
11.625
19.125
10.1875
2.25
8.5
2.75
16.25
40.0
1.0
1.125
0.875
0.875
1.125
1.3125
3.125
11.625
2.625
4.25
128.25
3.25
3.5
3.625
8.25
4.875
3.25
0.0
12.0
2.5
0.0
185.0
3.25
0.0
5.5
0.0
15.125
60.25
31.0
42.125
25.0
0.0
0.0
51.625
144.0
240.75
0.0
16.75
0.0
8.625
21.0
23.75
0.0
61.0
3.5
5.375
4.25
11.25
8.25
5.75
5.0
0.0
12.0
12.0
0.0
18.5
30.0
26.5
20.9375
34.0
26.0
20.0
0.0
25.0
7.5
5.75
0.0
0.0
8.25
8.25
0.0
0.0
8.0
9.25
0.0
0.0
6.5
5.375
0.0
9.625
9.75
8.375
7.0
9.75
2.875
0.0
9.125
3.5
11.25
4.5
10.0
2.625
218.25
10.75
24.5
19.875
23.0
22.0
3.5
0.0
8.25
36.375
30.5
1.25
52.875
22.25
48.5
48.0
47.0
34.0
40.0
40.0
7.75
10.25
36.25
38.75
13.0
4.25
0.75
0.625
0.625
3.75
26.0
6.25
15.25
9.5
5.5
8.75
9.75
5.5
7.0
3.25
25.0
4.25
5.75
5.5
0.0
2.75
23.125
30.0
7.0
39.5
30.0
29.125
38.5
44.75
124.25
234.875
169.5
187.75
150.75
23.75
238.25
257.0
239.0
237.0
264.0
20.0
0.0
16.0
0.0
0.0
20.25
24.5
17.0
0.0
29.375
57.0
6.875
16.0
39.3125
7.5
0.0
36.375
51.5
35.5
24.0
6.75
0.0
48.0
1.625
2.625
10.5
2.6875
11.4375
20.25
9.3125
6.25
9.4375
9.125
1.75
0.0
8.375
12.3125
10.375
6.0
3.0
7.1875
2.0
5.9375
0.0
11.875
5.5
8.875
9.9375
3.0
3.5
7.25
32.0
8.3125
25.25
0.0
0.0
0.0
7.5625
0.0
0.0
0.0
0.0
0.0
2.6875
0.0
0.0
0.0
0.0
1.5625
0.0
0.0
0.0
0.375
0.0
0.0
6.4375
0.0
0.0
13.0
0.0
0.0
0.0
0.0
0.375
7.9375
13.5625
0.0
0.0
0.0
0.0
7.5625
1.8125
0.0
0.0
1.125
0.0
0.0
2.5
0.0
0.0
0.0
0.0
8.0
1.4375
8.0
1.25
1.875
2.25
1.6875
2.5
1.25
0.625
3.75
0.0
3.25
1.3125
6.125
1.125
2.125
2.0
5.0
1.5
1.875
4.4375
1.0
1.0
3.9375
3.625
1.25
1.625
0.4375
3.4375
2.125
3.5
1.1875
2.0
0.875
1.0
3.125
0.9375
1.0
3.25
3.5
3.1875
3.75
0.5625
1.0
1.0
1.0625
1.6875
2.0
0.5
1.0625
1.625
0.9375
2.0625
2.0
1.8125
2.25
2.125
6.125
1.875
2.1875
0.9375
2.0
1.375
1.375
1.375
2.375
1.0
1.625
0.0
5.625
2.0
1.0
0.9375
1.875
1.75
0.75
0.75
1.125
0.125
0.1875
1.1875
4.25
0.75
5.3125
0.6875
1.3125
3.25
0.625
6.75
0.0
4.0
6.375
11.1875
8.3125
2.5
0.875
2.5
2.75
3.75
1.5
3.125
3.75
3.5625
5.125
4.75
3.3125
4.25
0.125
0.125
0.1875
4.9375
0.25
3.625
0.25
4.625
3.0
2.25
2.0
0.75
0.9375
1.75
0.0
0.0
6.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.5
0.0
0.0
27.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
19.0
0.0
58.25
0.0
0.0
13.25
9.375
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
44.0
0.0
0.0
0.0
0.0
0.0
9.75
0.0
0.0
0.0
0.0
0.0
7.375
4.125
0.0
0.0
25.0
0.0
0.25
0.0
0.0
0.0
1.75
0.5
0.0
41.8125
9.6875
0.0
0.0
24.4375
5.5625
0.0
0.0
0.0
0.0
0.0
0.0
0.0
19.5
0.0
3.625
0.0
1.125
0.0
5.75
13.375
0.0
0.0
0.0
9.5
0.3125
7.4375
0.0
0.0
6.0
0.0
0.0
1.75
0.0
7.0
0.0
0.0
0.0
10.0
3.6875
0.0
0.0
0.4375
5.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.75
1.0
0.0
0.0
0.0
0.0
14.25
0.0
0.0
0.0
0.0
0.0
2.75
0.0
2.5
2.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
20.875
0.0
0.0
13.625
5.75
17.0
38.75
16.0
15.0
11.875
0.0
0.0
36.5
0.0
0.0
10.5
16.75
0.0
12.0
7.0
9.5
9.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
9.5
0.0
23.0
3.0
0.0
1.75
0.0
1.75
0.0
0.0
0.0
0.0
0.0
6.125
0.0
0.0
9.25
0.0
9.75
6.625
2.75
2.625
8.25
8.375
0.0
0.0
0.0
0.0
3.0
0.0
25.75
0.0
0.0
27.0
0.0
19.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.25
0.0
2.0
0.0
1.5
0.0
3.0
0.0
0.0
0.0
0.0
0.0
3.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
2.125
15.0
15.0
2.25
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
15.5
14.5
15.25
17.5
17.25
16.5
17.25
14.5
21.0
0.0
17.5
19.25
35.75
23.0
32.0
47.5
0.0
36.0
34.0
0.0
0.0
0.0
0.0
0.0
22.0
0.0
21.0
39.75
21.5
0.0
9.125
0.0
0.0
6.375
42.0
0.0
8.0
0.0
0.0
9.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
4.875
0.0
0.0
0.0
0.0
20.0
0.0
2.375
3.5
0.25
0.0
0.0
7.0
5.0
4.25
7.5
4.5
5.125
3.5
0.0
5.75
0.0
0.0
0.0
3.25
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
23.0
0.0
0.0
0.0
10.5
0.0
0.0
0.0
5.75
0.0
5.0
0.0
0.0
0.0
0.0
0.0
0.0
0.25
0.0
0.0
0.0
0.25
1.875
0.5
0.0
0.0
5.25
10.75
4.0
0.0
13.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
5.75
4.75
4.0
0.0
0.0
6.25
0.0
0.0
0.0
0.0
0.0
4.375
0.5
0.0
0.0
0.0
11.0
0.0
29.25
24.75
0.0
0.0
0.0
0.1875
8.75
0.0
0.0
0.0
0.0
9.625
0.0
0.0
0.0
0.0
34.0
0.0
0.0
0.0
0.0
0.0
0.0
8.25
38.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.5
0.0
1.25
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.625
0.0
5.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
5.0
4.25
5.25
525.0
2.625
4.875
3.625
4.25
11.625
0.0
0.0
2.25
8.5
0.0
0.0
0.0
1.0
1.125
0.0
0.875
1.125
0.0
0.0
0.0
2.0
4.25
0.0
3.25
3.5
3.625
8.25
4.875
2.625
0.0
0.0
0.0
0.0
0.0
0.0
0.0
5.5
0.0
0.0
0.0
9.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
3.5
0.0
4.25
6.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
4.5
5.75
0.0
0.0
8.25
4.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
5.375
0.0
0.0
0.0
0.0
0.0
6.875
2.375
0.0
7.875
0.0
4.75
0.0
0.0
3.75
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.375
1.125
0.0
0.0
0.0
0.0
9.25
6.75
0.0
0.0
1.0
1.5
4.5
4.25
0.5
0.375
0.5
0.0
0.0
6.25
7.5
0.0
0.0
0.0
7.0
0.0
0.0
2.0
0.0
0.0
2.375
0.0
0.0
0.0
0.0
0.0
7.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
31.0
6.875
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
6.75
0.0
0.0
0.0
0.625
0.0
1.3125
11.3125
20.3125
2.0625
6.3125
6.625
8.4375
0.0
0.0
4.1875
11.625
4.75
6.0
2.5
8.25
0.75
4.625
0.0
8.8125
5.5
8.75
0.0
0.3125
0.1875
6.0625
0.0
4.125
1.5
0.0
0.0
0.0
4.4375
0.0
0.0
0.0
0.0
0.0
0.1875
0.0
0.0
0.0
0.0
1.75
0.0
0.0
0.0
0.0
0.0
0.0
6.25
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
4.8125
8.625
0.0
0.0
0.0
0.0
6.3125
1.1875
0.0
0.0
0.0
0.0
0.0
0.375
0.0
0.0
0.0
0.0
0.0
1.0625
0.0
0.0
0.1875
0.1875
0.25
0.0
0.1875
0.375
0.1875
0.0
0.1875
0.1875
0.0
0.0
0.1875
0.0
0.1875
0.0625
0.1875
0.1875
0.375
0.1875
3.4375
0.125
0.0
0.3125
0.0
0.25
0.4375
0.34375
0.5625
0.5
0.125
0.1875
0.1875
0.0
0.1875
0.1875
0.1875
0.125
0.125
0.34375
0.1875
0.125
0.28125
0.1875
0.0
0.625
0.25
0.4375
0.25
0.1875
0.4375
0.3125
0.6875
0.25
5.5
0.125
0.0
0.125
0.0
0.25
0.5
0.75
0.75
0.1875
0.125
0.0
5.8125
3.25
0.125
0.9375
0.1875
0.125
0.1875
0.1875
0.1875
0.0
0.0
0.3125
4.0
0.25
0.625
0.25
0.125
0.0
0.25
0.25
0.0
0.25
0.0
1.6875
0.375
2.75
2.5
2.75
0.0
0.0
0.0
0.3125
0.25
0.25
0.4375
0.125
0.375
0.0
0.0
0.0
0.0
0.0
0.25
0.15625
0.0
0.0
0.0
0.0
0.375
0.0
0.1875

In [28]:
expanded_dimensions.drop(labels=3, axis=1, inplace=True)
#wrong_dimensions = expanded_dimensions[expanded_dimensions]

In [29]:
wrong_dimension_format = expanded_dimensions[expanded_dimensions.isna().any(axis=1)]
artwork_thick = pd.concat([artwork_slim, expanded_dimensions], axis=1)
print(artwork_thick.head())

  accession_number                                             artist  \
0             10.1  Artist: Frederick G. Smith; Artist: Formerly a...
0             10.2  Artist: Frederick G. Smith; Artist: Formerly a...
0           16.496
0            16.51
0            16.52

       classification continent  country  \
0            Drawings    Europe  England
0            Drawings    Europe  England
0   Sculpture; Models    Africa    Egypt
0           Sculpture    Africa    Egypt
0           Sculpture    Africa    Egypt

                                          creditline  curator_approved  \
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0
0                     The William Hood Dunwoody Fund                 0
0                     The William Hood Dunwoody Fund                 0
0                     The William Hood Dunwoody Fund                 0

                   dated                      department         dimension  \
0              c.1888-89                    European Art  68-5/8 x 25-1/8
0             c. 1888-89                    European Art  70 5/8 x 24 7/8
0  22nd-18th century BCE           Arts of Global Africa  27 x 37 1/2 x 6
0           1320-656 BCE  Art of Africa and the Americas   3 3/8 x 1 5/16
0     c. 664 BCE - 30 CE  Art of Africa and the Americas        5 1/4 x 1

    id                                     medium         room  \
0    0  Pen and ink, brush and wash over graphite  Not on View
0    1  Pen and ink, brush and wash over graphite  Not on View
0  100                           Polychromed wood         G250
0  101                             Glazed faience  Not on View
0  102                                     Bronze  Not on View

                              style  display  height    width  depth
0                      19th century        0  68.625  25.1250    0.0
0                      19th century        0  70.625  24.8750    0.0
0             22nd-18th century BCE        1  27.000  37.5000    6.0
0              14th-7th century BCE        0   3.375   1.3125    0.0
0  8th century BCE - 1st century CE        0   5.250   1.0000    0.0

In [30]:
wrong_dimensions = artwork_thick[artwork_thick[['height', 'width', 'depth']].isna().any(axis=1)]
print(wrong_dimensions)

  accession_number                artist classification continent  \
0            46.12  Artist: Aelbert Cuyp      Paintings    Europe
0       50.46.3a,b                            Metalwork      Asia

       country                      creditline  curator_approved  \
0  Netherlands     The John R. Van Derlip Fund                 0
0        China  Bequest of Alfred F. Pillsbury                 0

           dated    department                                dimension   id  \
0           1649  European Art           26 1/2 x 22 1/4 x 5/16 to 3/8   731
0  1300-1201 BCE     Asian Art  14 5/16 x 11 3/16 x 9 1/8 (Diam: 8 7/8   972

         medium         room                  style  display   height  \
0  Oil on panel         G312           17th century        1  26.5000
0        Bronze  Not on View  13th-12th century BCE        0  14.3125

     width  depth
0  22.2500    NaN
0  11.1875    NaN

In [31]:
print(artwork_thick.info())
artwork_thick.dropna(axis=0, subset=['height', 'width', 'depth'], inplace=True)
print(artwork_thick.info())

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 0 to 0
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  883 non-null    object
 1   artist            883 non-null    object
 2   classification    883 non-null    object
 3   continent         876 non-null    object
 4   country           875 non-null    object
 5   creditline        883 non-null    object
 6   curator_approved  883 non-null    int64
 7   dated             883 non-null    object
 8   department        883 non-null    object
 9   dimension         883 non-null    object
 10  id                883 non-null    object
 11  medium            883 non-null    object
 12  room              883 non-null    object
 13  style             881 non-null    object
 14  display           883 non-null    int64
 15  height            883 non-null    float64
 16  width             883 non-null    float64
 17  depth             881 non-null    float64
dtypes: float64(3), int64(2), object(13)
memory usage: 131.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 881 entries, 0 to 0
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  881 non-null    object
 1   artist            881 non-null    object
 2   classification    881 non-null    object
 3   continent         874 non-null    object
 4   country           873 non-null    object
 5   creditline        881 non-null    object
 6   curator_approved  881 non-null    int64
 7   dated             881 non-null    object
 8   department        881 non-null    object
 9   dimension         881 non-null    object
 10  id                881 non-null    object
 11  medium            881 non-null    object
 12  room              881 non-null    object
 13  style             879 non-null    object
 14  display           881 non-null    int64
 15  height            881 non-null    float64
 16  width             881 non-null    float64
 17  depth             881 non-null    float64
dtypes: float64(3), int64(2), object(13)
memory usage: 130.8+ KB
None

In [32]:
print(artwork_thick['dated'].head(50))

0                             c.1888-89
0                            c. 1888-89
0                 22nd-18th century BCE
0                          1320-656 BCE
0                    c. 664 BCE - 30 CE
0                           2nd century
0                    c. 664 BCE - 30 CE
0                          1320-656 BCE
0                           664-525 BCE
0                          1070-712 BCE
0                               c. 1915
0                          c. 1460-1485
0                          19th century
0                               1475–85
0                     17th-20th century
0                     12th-13th century
0            mid 10th-late 13th century
0                          19th century
0                          16th century
0    Fourth quarter of the 16th century
0                          16th century
0                          16th century
0                          16th century
0                          18th century
0                                  1898
0                          19th century
0                               c. 1830
0                                   571
0                    early 19th century
0                                  1900
0                               c. 1840
0                            c. 1450–60
0                     19th-20th Century
0                                  1950
0                               c. 1890
0                          20th century
0                          20th century
0                          20th century
0                          20th century
0                          20th century
0                     19th-20th century
0                                  1897
0                     19th-20th century
0                                  1899
0                                  1900
0                          19th century
0                     19th-20th century
0                                  1905
0                    early 17th century
0                               c. 1150
Name: dated, dtype: object

What I want to do with the dated column is make a column that has the date (negative number for BCE) and I think another column that puts it in a time range (need to figure out appropriate time ranges). Will first make a column with dates

Regarding the formatting of the above, it seems everything that is BCE is related can be labeled as a negative number. 

- Check if BCE exists (also check BC in case dates were entered before that change)
- Check for CE (and AD for same reason as above)
- Check for 'century' (if this is present, will need to subtract 1 from the century and multiply by 100
(ex. 22nd-18th century BCE --> 22 -> -22 --> -22 - 1 = -23 --> -23\*100 = -2300. so final is -2300 to -1900)

In [33]:
def era_convert(*args, century):
    eras = []
    for item in args:
        if 'BCE' in item or 'BC' in item:
            eras.append(-1)
        elif 'CE' in item or 'AD' in item:
            eras.append(1)
        else:
            eras.append(0)
    subs = [0,0]
    if century != 1:
        if eras == [1,1]:
            subs = [-1, 0]
        elif eras == [-1,-1]:
            subs = [0, 1]
    else:
        subs = [0,0]
    return eras, subs
    
# I think the best foot forward is to make a function that can then be passed through using apply
def deconstruct_dated(indate):
    str_date = str(indate)
    dates = []  # begin splitting the current string
    multiply = 1
    if not re.search(r'[0-9]', str_date) or str_date=='':
        return [float('Nan'), float('Nan')]
    else:
        if re.search('century', str_date, re.I) is not None:  # converting century to an actual number
            multiply = 100
        str_date = str_date.replace('–', '-')
        
        if '-' in str_date:
            dates = str_date.split('-')
            times = re.findall(r'BCE|CE|BC|AD', str_date)
        else:
            dates.append(str_date)
            times = re.findall(r'BCE|CE|BC|AD', str_date)
        if len(times) == 0:  # account for no specification of BCE or CE
            times = ['CE', 'CE']
        
        if len(times) != len(dates):  # accounts for entries where there is only one specification of a BCE/CE
            times.append(times[0])
     
        times, subs = era_convert(*times, century=multiply)
        

    # now let's go through and edit these a bit more
    # sub default is [0,1] if century present
        today = date.today()
        #print(type(today.year))
        d_converted = []
        for t, d, s in zip(times, dates, subs):
            d_clean = int(re.sub(r'[^0-9]*', '', d))
            # put a check here for ridiculous numbers
            if (d_clean*t) > today.year:
                print(d_clean)
                d_clean = int(d_clean/10000)
            d_converted.append(((d_clean*t)+s)*multiply)
    
        if len(d_converted) == 1:
            d_converted.append(d_converted[0])
        
        if d_converted[0] > d_converted[1]:
            d_converted[1] = d_converted[1] + (int(d_converted[0]/100)*100)
        
        return d_converted
 
print(deconstruct_dated('41st-30th century BCE'))

[-4100, -2900]

In [34]:
#artwork_thick['dated'] = artwork_thick.astype({'dated': str})
expanded_date = pd.DataFrame()
start = pd.Series()
end = pd.Series()
holder = artwork_thick['dated'].apply(deconstruct_dated)

16881688
17421743
15651611
16061611
16101611
16171611
16121611
15651611
15651611
15651611

In [35]:
print(holder.head(50))

0      [1888, 1889]
0      [1888, 1889]
0    [-2200, -1700]
0     [-1320, -656]
0        [-664, 30]
0        [200, 200]
0        [-664, 30]
0     [-1320, -656]
0      [-664, -525]
0     [-1070, -712]
0      [1915, 1915]
0      [1460, 1485]
0      [1900, 1900]
0      [1475, 1485]
0      [1600, 2000]
0      [1100, 1300]
0       [900, 1300]
0      [1900, 1900]
0      [1600, 1600]
0      [1600, 1600]
0      [1600, 1600]
0      [1600, 1600]
0      [1600, 1600]
0      [1800, 1800]
0      [1898, 1898]
0      [1900, 1900]
0      [1830, 1830]
0        [571, 571]
0      [1900, 1900]
0      [1900, 1900]
0      [1840, 1840]
0      [1450, 1460]
0      [1800, 2000]
0      [1950, 1950]
0      [1890, 1890]
0      [2000, 2000]
0      [2000, 2000]
0      [2000, 2000]
0      [2000, 2000]
0      [2000, 2000]
0      [1800, 2000]
0      [1897, 1897]
0      [1800, 2000]
0      [1899, 1899]
0      [1900, 1900]
0      [1900, 1900]
0      [1800, 2000]
0      [1905, 1905]
0      [1700, 1700]
0      [1150, 1150]
Name: dated, dtype: object

In [36]:
expanded_date['start'] = holder.apply(lambda x: x[0])
expanded_date['end'] = holder.apply(lambda x: x[1])
#expanded_date.astype({'start': int, 'end': int})

In [37]:
#expanded_date = expanded_date.reset_index()
print(expanded_date.dtypes)

start    float64
end      float64
dtype: object

In [38]:

artwork_complete = pd.concat([artwork_thick, expanded_date], axis=1)
artwork_complete.drop(columns= ['dated', 'department', 'dimension', 'room'], axis=1, inplace=True)
print(artwork_complete.head())

  accession_number                                             artist  \
0             10.1  Artist: Frederick G. Smith; Artist: Formerly a...
0             10.2  Artist: Frederick G. Smith; Artist: Formerly a...
0           16.496
0            16.51
0            16.52

       classification continent  country  \
0            Drawings    Europe  England
0            Drawings    Europe  England
0   Sculpture; Models    Africa    Egypt
0           Sculpture    Africa    Egypt
0           Sculpture    Africa    Egypt

                                          creditline  curator_approved   id  \
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    0
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    1
0                     The William Hood Dunwoody Fund                 0  100
0                     The William Hood Dunwoody Fund                 0  101
0                     The William Hood Dunwoody Fund                 0  102

                                      medium  \
0  Pen and ink, brush and wash over graphite
0  Pen and ink, brush and wash over graphite
0                           Polychromed wood
0                             Glazed faience
0                                     Bronze

                              style  display  height    width  depth   start  \
0                      19th century        0  68.625  25.1250    0.0  1888.0
0                      19th century        0  70.625  24.8750    0.0  1888.0
0             22nd-18th century BCE        1  27.000  37.5000    6.0 -2200.0
0              14th-7th century BCE        0   3.375   1.3125    0.0 -1320.0
0  8th century BCE - 1st century CE        0   5.250   1.0000    0.0  -664.0

      end
0  1889.0
0  1889.0
0 -1700.0
0  -656.0
0    30.0

Alright, that was a little messy. I want to set up the ranges for each time period. I need to see the highest and lowest start and end dates

In [39]:
print(artwork_complete.describe())

       curator_approved     display        height       width       depth  \
count        881.000000  881.000000    881.000000  881.000000  881.000000
mean           0.044268    0.315551     40.963181   19.070162    3.229711
std            0.205806    0.464999    526.795793   39.245955   18.837082
min            0.000000    0.000000      0.000000    0.000000    0.000000
25%            0.000000    0.000000      4.125000    2.000000    0.000000
50%            0.000000    0.000000      9.500000    7.000000    0.000000
75%            0.000000    1.000000     29.500000   20.500000    1.187500
max            1.000000    1.000000  15625.000000  525.000000  525.000000

             start          end
count   878.000000   878.000000
mean    970.268793  1081.422551
std    1209.003902  1077.015898
min   -4000.000000 -3000.000000
25%       0.000000   425.000000
50%    1662.000000  1700.000000
75%    1830.000000  1857.500000
max    2000.000000  2000.000000

minimum is -4000. maximum is 2000 (for this dataset - keep in mind we don't have contemporary art yet).
From https://www.historyskills.com/historical-knowledge/chronology/:

- stone age = 2.5 mil - 3000 BCE
- bronze age = 3000 - 1200 BCE
- iron age = 1200 - 800 BCE
- classical age = 800 BCE - 476 CE
- middle ages = 476 - 1450
- modern age = 1450 - present

I will be using the 'start' date to organize these items

In [40]:
def ages_decode(number):
    age = ''
    if number <= -3000:
        age = 'stone age'
    elif number <= -1200:
        age = 'bronze age'
    elif number <= -800:
        age = 'iron age'
    elif number <= 476:
        age = 'classical age'
    elif number <= 1450:
        age = 'middle ages'
    else:
        age = 'modern age'
    return age

missing_dates = artwork_complete[artwork_complete[['start', 'end']].isna().any(axis=1)]
artwork_complete.dropna(axis=0, subset=['start', 'end'], inplace=True)
artwork_complete['age'] = artwork_complete.start.apply(ages_decode)

In [41]:
print(artwork_complete.head())
print(artwork_complete.info())

  accession_number                                             artist  \
0             10.1  Artist: Frederick G. Smith; Artist: Formerly a...
0             10.2  Artist: Frederick G. Smith; Artist: Formerly a...
0           16.496
0            16.51
0            16.52

       classification continent  country  \
0            Drawings    Europe  England
0            Drawings    Europe  England
0   Sculpture; Models    Africa    Egypt
0           Sculpture    Africa    Egypt
0           Sculpture    Africa    Egypt

                                          creditline  curator_approved   id  \
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    0
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    1
0                     The William Hood Dunwoody Fund                 0  100
0                     The William Hood Dunwoody Fund                 0  101
0                     The William Hood Dunwoody Fund                 0  102

                                      medium  \
0  Pen and ink, brush and wash over graphite
0  Pen and ink, brush and wash over graphite
0                           Polychromed wood
0                             Glazed faience
0                                     Bronze

                              style  display  height    width  depth   start  \
0                      19th century        0  68.625  25.1250    0.0  1888.0
0                      19th century        0  70.625  24.8750    0.0  1888.0
0             22nd-18th century BCE        1  27.000  37.5000    6.0 -2200.0
0              14th-7th century BCE        0   3.375   1.3125    0.0 -1320.0
0  8th century BCE - 1st century CE        0   5.250   1.0000    0.0  -664.0

      end            age
0  1889.0     modern age
0  1889.0     modern age
0 -1700.0     bronze age
0  -656.0     bronze age
0    30.0  classical age
<class 'pandas.core.frame.DataFrame'>
Index: 878 entries, 0 to 0
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  878 non-null    object
 1   artist            878 non-null    object
 2   classification    878 non-null    object
 3   continent         872 non-null    object
 4   country           871 non-null    object
 5   creditline        878 non-null    object
 6   curator_approved  878 non-null    int64
 7   id                878 non-null    object
 8   medium            878 non-null    object
 9   style             878 non-null    object
 10  display           878 non-null    int64
 11  height            878 non-null    float64
 12  width             878 non-null    float64
 13  depth             878 non-null    float64
 14  start             878 non-null    float64
 15  end               878 non-null    float64
 16  age               878 non-null    object
dtypes: float64(5), int64(2), object(10)
memory usage: 123.5+ KB
None

In [42]:
continents = artwork_complete.groupby('continent').accession_number.count()

In [43]:
print(continents)

continent
Africa            45
Asia             376
Europe           206
North America    225
Oceania            5
South America     15
Name: accession_number, dtype: int64

In [44]:
missing_continents = artwork_complete[artwork_complete['continent'].isnull()]
print(len(missing_continents))
artwork_complete['continent'] = artwork_complete.continent.fillna('Unknown')
artwork_complete['country'] = artwork_complete.country.fillna('Unknown')

6

In [48]:
print(artwork_complete.info())
print(artwork_complete.id.nunique())
artwork_complete = artwork_complete.reset_index()
print(artwork_complete.head())

<class 'pandas.core.frame.DataFrame'>
Index: 878 entries, 0 to 0
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accession_number  878 non-null    object
 1   artist            878 non-null    object
 2   classification    878 non-null    object
 3   continent         878 non-null    object
 4   country           878 non-null    object
 5   creditline        878 non-null    object
 6   curator_approved  878 non-null    int64
 7   id                878 non-null    object
 8   medium            878 non-null    object
 9   style             878 non-null    object
 10  display           878 non-null    int64
 11  height            878 non-null    float64
 12  width             878 non-null    float64
 13  depth             878 non-null    float64
 14  start             878 non-null    float64
 15  end               878 non-null    float64
 16  age               878 non-null    object
dtypes: float64(5), int64(2), object(10)
memory usage: 123.5+ KB
None
878
   index accession_number                                             artist  \
0      0             10.1  Artist: Frederick G. Smith; Artist: Formerly a...
1      0             10.2  Artist: Frederick G. Smith; Artist: Formerly a...
2      0           16.496
3      0            16.51
4      0            16.52

       classification continent  country  \
0            Drawings    Europe  England
1            Drawings    Europe  England
2   Sculpture; Models    Africa    Egypt
3           Sculpture    Africa    Egypt
4           Sculpture    Africa    Egypt

                                          creditline  curator_approved   id  \
0  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    0
1  Gift of Mrs. C. J. Martin, in memory of Charle...                 0    1
2                     The William Hood Dunwoody Fund                 0  100
3                     The William Hood Dunwoody Fund                 0  101
4                     The William Hood Dunwoody Fund                 0  102

                                      medium  \
0  Pen and ink, brush and wash over graphite
1  Pen and ink, brush and wash over graphite
2                           Polychromed wood
3                             Glazed faience
4                                     Bronze

                              style  display  height    width  depth   start  \
0                      19th century        0  68.625  25.1250    0.0  1888.0
1                      19th century        0  70.625  24.8750    0.0  1888.0
2             22nd-18th century BCE        1  27.000  37.5000    6.0 -2200.0
3              14th-7th century BCE        0   3.375   1.3125    0.0 -1320.0
4  8th century BCE - 1st century CE        0   5.250   1.0000    0.0  -664.0

      end            age
0  1889.0     modern age
1  1889.0     modern age
2 -1700.0     bronze age
3  -656.0     bronze age
4    30.0  classical age

In [49]:
artwork_complete.to_csv('C:\\Users\\henge\\PycharmProjects\\MIA\\final_tables\\artworks.csv')

## Moving onto the Exhibitions information

I have my proof of concept from the top, I'm going to need to add to this in order to make it work with going through many files (just gonna do one of the folders for now - the rest can be processed when I get this into a python script that is much more polished).

In [50]:
path_to_exhibits = "collection-main\\exhibitions\\0\\10.json"
df_list = []
for f in glob.glob("collection-main\\exhibitions\\0\\*.json"):
    info = 0
    try:
        with open(f, 'r') as file:
            info = json.load(file)  # probably going to need a try except here to make sure that the file is not empty. Some of them are.
    except Exception as error:
        print(error)
        print("file is empty")  # this will need to include the file name and also just be a message logged to another file
        continue

    for art in info['objects']:
        one_line = {'exhibition_id': info['exhibition_id'], 'art_id': art, 'display_date': info['display_date']}
        #print(one_line)
        df_list.append(one_line)

print(len(df_list))
exhibits = pd.DataFrame(df_list)
print(exhibits.head())  #gorgeous actually
print(len(exhibits))

Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 267: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 318: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 364: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 454: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 241: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 355: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 228: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 423: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 476: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 260: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 499: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 457: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 427: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 795: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 319: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 633: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 917: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 408: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 585: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 216: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 253: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 365: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 1054: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 869: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 401: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 1405: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 619: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 677: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 857: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 1949: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 218: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 514: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 516: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 813: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 475: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 939: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 632: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 849: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 545: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 861: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 502: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 591: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 352: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 670: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 285: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 518: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
'charmap' codec can't decode byte 0x9d in position 1423: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 795: character maps to <undefined>
file is empty
'charmap' codec can't decode byte 0x9d in position 998: character maps to <undefined>
file is empty
Expecting value: line 1 column 1 (char 0)
file is empty
12059
   exhibition_id  art_id                                       display_date
0             10     292  Tuesday, September 19, 2000 - Friday, October ...
1             10    3868  Tuesday, September 19, 2000 - Friday, October ...
2             10    4036  Tuesday, September 19, 2000 - Friday, October ...
3             10    4515  Tuesday, September 19, 2000 - Friday, October ...
4             10    5130  Tuesday, September 19, 2000 - Friday, October ...
12059

In [51]:
print(exhibits.info())
print(exhibits.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12059 entries, 0 to 12058
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   exhibition_id  12059 non-null  int64
 1   art_id         12059 non-null  int64
 2   display_date   12059 non-null  object
dtypes: int64(2), object(1)
memory usage: 282.8+ KB
None
   exhibition_id  art_id                                       display_date
0             10     292  Tuesday, September 19, 2000 - Friday, October ...
1             10    3868  Tuesday, September 19, 2000 - Friday, October ...
2             10    4036  Tuesday, September 19, 2000 - Friday, October ...
3             10    4515  Tuesday, September 19, 2000 - Friday, October ...
4             10    5130  Tuesday, September 19, 2000 - Friday, October ...

In [52]:
exhibit_art_df = exhibits[['exhibition_id', 'art_id']]
exhibit_df = exhibits.drop_duplicates(subset=['exhibition_id'])
exhibit_df.drop('art_id', inplace=True, axis=1)

C:\Users\henge\AppData\Local\Temp\ipykernel_18852\1979021645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exhibit_df.drop('art_id', inplace=True, axis=1)

In [55]:
print(exhibit_art_df.nunique())
print(len(exhibit_art_df.unique()))

exhibition_id      707
art_id           11048
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
print(exhibit_df.info())
print(exhibit_df.exhibition_id.nunique())
print(exhibit_df.head())

In [ ]:
exhibit_art_df.drop_duplicates()
print(exhibit_art_df.info())

In [ ]:
exhibit_art_df.to_csv('C:\\Users\\henge\\PycharmProjects\\MIA\\final_tables\\exhibit_art.csv')

Ok, awesome! So there isn't any missing data here which makes me happy. We do need to process the display date column some though.

In [ ]:
def format_dates(date):
    formatted = ''
    date = date.replace(' to', '')
    try:    
        formatted = pd.to_datetime(date, format='mixed')
    except:
        formatted = np.datetime64('NaT')
    else:
        if date == '':
            formatted = np.datetime64('NaT')
    return formatted

In [ ]:

expanded_show_dates = pd.DataFrame()
expanded_show_dates[['start', 'end']] = exhibit_df['display_date'].str.split(r'-| to', expand=True)

print(expanded_show_dates.info())
print(expanded_show_dates.head())
expanded_show_dates['end'] = expanded_show_dates['end'].fillna('')
print(expanded_show_dates.info())

In [ ]:
expanded_show_dates['start_datetime'] = expanded_show_dates.start.apply(format_dates)
expanded_show_dates['end_datetime'] = expanded_show_dates.end.apply(format_dates)

print(expanded_show_dates[expanded_show_dates['start_datetime'] == 'Incorrect Format'])
print(expanded_show_dates.info())
print(expanded_show_dates[expanded_show_dates['start_datetime'].isnull()])

In [ ]:
final_exhibits = pd.concat([exhibit_df, expanded_show_dates], axis = 1)
print(final_exhibits.head())

In [ ]:
try:
    final_exhibits['days'] = final_exhibits['end_datetime'] - final_exhibits['start_datetime']
except:
    print('damn')

In [ ]:
print(len(final_exhibits))

In [ ]:
#final_exhibits['days'] = exhibits['days']
incorrect_format_dates = final_exhibits[final_exhibits['days'].isnull()]
final_exhibits.dropna(subset=['days'], axis=0, how='any', inplace=True)
print(final_exhibits.info())

In [ ]:
print(final_exhibits.describe())
print(final_exhibits.sort_values('days', ascending=False))

In [ ]:
#final_exhibits.drop(columns=['display_date', 'start', 'end'], inplace=True)
final_exhibits['days'] = final_exhibits['days'].dt.days
print(final_exhibits.head())

In [ ]:
print(final_exhibits.info())

In [ ]:
final_exhibits.to_csv('C:\\Users\\henge\\PycharmProjects\\MIA\\final_tables\\exhibits.csv')